@charset "utf-8";
/*
   CS 2350 "My Personal Website"
   
   Base Stylesheet   

   Date: 28-2-23
   Filename: pw_aworks.css
*/
article dl{
   margin-left: auto;
   margin-right: auto;
}
article dl dt{
   padding-left: 10px;
   text-decoration: underline;
   font-size: 1.5em;
}

article dd{
   padding-top: 5px;
   padding-bottom: 15px;
}